colorama
coverage
gitdb
gitpython
iniconfig
linkify-it-py
local-project-manager
markdown-it-py
mdit-py-plugins
mdurl
packaging
platformdirs
pluggy
pygments
pytest
pytest-cov
rich
smmap
textual
tomli
typing-extensions
uc-micro-py
